.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: var(--second-bg-color);

  &__img {
    img {
      width: 35vw;
    }
  }

  &__content {
    h2 {
      text-align: left;
      line-height: 1.2;
    }

    h3 {
      font-size: 2.6rem;
    }

    p {
      font-size: 1.6rem;
      margin: 2rem 0 3rem;
    }
  }
}

.heading {
  text-align: center;
  font-size: 4.5rem;
}

@media (max-width: 768px) {
  .about {
    flex-direction: column-reverse;

    &__img {
      img {
        width: 70vw;
        margin-top: 4rem;
      }
    }
  }
}

@media (max-width: 365px) {
  .about {
    &__img img {
      width: 90vw;
    }
  }
}