.services {

  h2 {
    margin-bottom: 5rem;
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
  }

  &__box {
    flex: 1 1 30rem;
    background-color: var(--second-bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: 0.2rem solid var(--second-bg-color);
    transition: 0.5s ease;

    &:hover {
      border-color: var(--main-color);
      transform: scale(1.02);
    }

    i {
      font-size: 7rem;
      color: var(--main-color);
    }

    h3 {
      font-size: 2.6rem;
    }

    p {
      font-size: 1.6rem;
      margin: 1rem 0 3rem;
    }
  }
}

@media (max-width: 991px) {
  .services {
    padding-bottom: 7rem;
  }
}

@media (max-width: 768px) {
  h2 {
    margin-bottom: 3rem;
  }
}