<section class="about" id="about">
  <div class="about__img">
    <img src="images/about.webp" alt="About author">
  </div>
  <div class="about__content">
    <h2 class="heading">About <span>Me</span></h2>
    <h3>Frontend Developer!</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo blanditiis commodi ab voluptatum ex qui beatae? Odit
      quaerat fuga amet natus sed ut, tempore quae aperiam numquam voluptatem consequuntur laudantium deserunt quam,
      pariatur accusamus nisi dolores porro vitae rerum explicabo corrupti expedita magnam necessitatibus nesciunt.
      Officia.
    </p>
    <a href="#" class="btn">Read More</a>
  </div>
</section>