<section class="portfolio" id="portfolio">
  <h2 class="heading">Latest <span>Projects</span></h2>
  <div class="portfolio__container">
    <div class="portfolio__box">
      <img src="images/portfolio1.webp" alt="Portfolio">
      <div class="portfolio__layer">
        <h4>Web Design</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, modi?
        </p>
        <a href="#"><i class='bx bx-link-external'></i></a>
      </div>
    </div>
    <div class="portfolio__box">
      <img src="images/portfolio2.webp" alt="Portfolio">
      <div class="portfolio__layer">
        <h4>Web Design</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, modi?
        </p>
        <a href="#"><i class='bx bx-link-external'></i></a>
      </div>
    </div>
    <div class="portfolio__box">
      <img src="images/portfolio3.webp" alt="Portfolio">
      <div class="portfolio__layer">
        <h4>Web Design</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, modi?
        </p>
        <a href="#"><i class='bx bx-link-external'></i></a>
      </div>
    </div>
    <div class="portfolio__box">
      <img src="images/portfolio4.webp" alt="Portfolio">
      <div class="portfolio__layer">
        <h4>Web Design</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, modi?
        </p>
        <a href="#"><i class='bx bx-link-external'></i></a>
      </div>
    </div>
    <div class="portfolio__box">
      <img src="images/portfolio5.webp" alt="Portfolio">
      <div class="portfolio__layer">
        <h4>Web Design</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, modi?
        </p>
        <a href="#"><i class='bx bx-link-external'></i></a>
      </div>
    </div>
    <div class="portfolio__box">
      <img src="images/portfolio6.webp" alt="Portfolio">
      <div class="portfolio__layer">
        <h4>Web Design</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, modi?
        </p>
        <a href="#"><i class='bx bx-link-external'></i></a>
      </div>
    </div>
  </div>
</section>