<section class="services" id="services">
  <h2 class="heading">Our <span>Services</span></h2>
  <div class="services__container">
    <div class="services__box">
      <i class='bx bx-code-alt'></i>
      <h3>Web Development</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, eaque praesentium nobis iusto sunt quibusdam
        alias sed dolores minus consectetur.
      </p>
      <a class="btn" href="#">Read More</a>
    </div>
    <div class="services__box">
      <i class='bx bxs-paint'></i>
      <h3>Web Design</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, eaque praesentium nobis iusto sunt quibusdam
        alias sed dolores minus consectetur.
      </p>
      <a class="btn" href="#">Read More</a>
    </div>
    <div class="services__box">
      <i class='bx bx-bar-chart-alt'></i>
      <h3>Digital Marketing</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, eaque praesentium nobis iusto sunt quibusdam
        alias sed dolores minus consectetur.
      </p>
      <a class="btn" href="#">Read More</a>
    </div>
  </div>
</section>